table {
    border-collapse: collapse;
    border: 1px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font: bold;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: 700;
}


thead {
    background-color: #484848;
    color: #fff;
}

.black {
    background-color: black;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

td {
    text-align: center;
}

th{
    border: 0px;
}

