* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}

header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #d1d0d0;
    padding: 8px;
    background-color: rgb(123, 212, 242);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1fr;
}

section{
    background-color: white;
    padding: 10px;
    border: 6px solid rgb(123, 212, 242);;
}