* {
    max-width: 1000px;
    font-size: 1.1rem;
}

p {
    padding: 10px;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
}

header {
    height: 200px;
    background: rgb(38, 38, 38);
    color: white;
    grid-column: 1 / 4;
}

nav {
    background-color: black;

}

nav ul {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav li {
    list-style: none;
}


main {
    height: 250px;
    background-color: rgb(90, 89, 89);
    color: white;
    grid-column: 1/3;
}

aside {
    height: 250px;
    background-color: white;
    color: black;
    grid-column: 3/4;
}

footer {
    height: 150px;
    background-color: rgb(38, 38, 38);
    color: white;
    grid-column: 1/4;
}