header,
main,
footer {
    max-width: 420px;
    margin: 0 auto;
}


header{
    text-align: center;
    background-color: #9c2c13;
    color: white;
}

.review fieldset {
    margin: 1rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}

.review label {
    display: block; /* hace que se apilen de arriba abajo */
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .9rem;

}

.star-rating {
    display: flex;
    align-items: center;
    width: 160px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 40px auto;
    position: relative;
}

.star-rating input {
    display: none;
}

.star-rating>label {
    width: 30px;
    height: 30px;
    font-size: 30px;
    transition: 0.2s ease;
    color: orange;
}



.star-rating label:active::before {
    transform: scale(1.1);
}

.star-rating label::before {
    content: '\2606';
    position: absolute;
    top: 0px;
}

.star-rating input:checked~label:before {
    content: '\2605';
}

.review input[type="text"],
.review input[type="date"],
.review select,
.review textarea{
    background-color: #eee;
    display: block;
    padding: .75rem;
    border: 1px solid #000;
    border-radius: 6px;
    color: #555;
    width: 100%;
    max-width: 380px;
    appearance: none;
}

.review input[type="checkbox"] {
    margin-right: 6px;
}

.review input[type="submit"] {
    border: none;
    background-image: linear-gradient(#9c2c13, #6f200e);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 100%;
    box-shadow: 1px 1px 4px #999;
    
}

footer {
    background-color: #9c2c13;
    color: rgb(255, 255, 255);
    text-align: center;
}